APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://app.sollu.test

DOMAIN_APP=app.sollu.test
DOMAIN_COCKPIT=cockpit.sollu.id
DOMAIN_API=api.sollu.test
SANCTUM_STATEFUL_DOMAINS="app.sollu.test,cockpit.sollu.id,api.sollu.test,localhost,127.0.0.1"

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_COOKIE_APP=sollu_app_session
SESSION_COOKIE_COCKPIT=sollu_cockpit_session

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_URL=
R2_ENDPOINT=
R2_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

TELESCOPE_ENABLED=false
# TELESCOPE_DOMAIN=telescope
TELESCOPE_PATH=telescope
# TELESCOPE_DRIVER=
# TELESCOPE_QUEUE_CONNECTION=
# TELESCOPE_QUEUE=
TELESCOPE_BATCH_WATCHER=false
TELESCOPE_CACHE_WATCHER=false
TELESCOPE_CLIENT_REQUEST_WATCHER=false
TELESCOPE_COMMAND_WATCHER=false
TELESCOPE_DUMP_WATCHER=false
TELESCOPE_DUMP_WATCHER=false
TELESCOPE_EVENT_WATCHER=false
TELESCOPE_EXCEPTION_WATCHER=false
TELESCOPE_GATE_WATCHER=false
TELESCOPE_JOB_WATCHER=false
TELESCOPE_LOG_WATCHER=false
TELESCOPE_MAIL_WATCHER=true
TELESCOPE_MODEL_WATCHER=false
TELESCOPE_NOTIFICATION_WATCHER=false
TELESCOPE_QUERY_WATCHER=false
TELESCOPE_REDIS_WATCHER=false
TELESCOPE_REQUEST_WATCHER=false
TELESCOPE_SCHEDULE_WATCHER=false
TELESCOPE_VIEW_WATCHER=false

MIDTRANS_MERCHANT_ID=xxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxx
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxx
MIDTRANS_IS_PRODUCTION=false

# URL Webhook dari Discord. 
# PENTING: Tambahkan suffix /slack di akhir URL (misal: https://discord.com/api/webhooks/123/abc/slack)
LOG_DISCORD_WEBHOOK_URL=
LOG_DISCORD_ALLOW_NON_PROD=false

