@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom transition classes for submenu */
.submenu-enter-active,
.submenu-leave-active {
    transition: max-height 0.3s ease, opacity 0.3s ease;
}
.submenu-enter-from,
.submenu-leave-to {
    max-height: 0;
    opacity: 0;
}
.submenu-enter-to,
.submenu-leave-from {
    max-height: 500px; /* or max-h-screen, depends on expected size */
    opacity: 1;
}

@layer base {
    @font-face {
        font-family: "Dosis Bold";
        src: url("font/dosis-semibold.ttf") format("trueType");
    }
    @font-face {
        font-family: "Dosis";
        src: url("font/dosis-light.ttf") format("trueType");
    }

    /* Floating scrollbar styles for WebKit browsers (Chrome, Safari, Edge) */
    .floating-scrollbar::-webkit-scrollbar {
        width: 8px; /* Minimal width for a clean look */
    }

    .floating-scrollbar::-webkit-scrollbar-track {
        background: transparent; /* Makes the track invisible */
    }

    .floating-scrollbar::-webkit-scrollbar-thumb {
        background-color: #71809680; /* Thumb color */
        border-radius: 4px;
        border: 2px solid rgba(0, 0, 0, 0); /* Invisible border to create the floating effect */
        background-clip: padding-box; /* Keeps the thumb from filling the entire track */
    }

    .floating-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #a0aec0; /* Lighter color when hovering */
    }

    /* Floating scrollbar styles for Firefox */
    .floating-scrollbar {
        scrollbar-width: thin; /* Thin scrollbar */
        scrollbar-color: #71809680 transparent; /* Thumb color and transparent track */
    }
}

@layer components {
    .nav-icon {
        @apply flex justify-center items-center rounded-full relative w-[30px] h-[30px] bg-main/10 dark:bg-light/10;
    }
    .nav-icon span {
        @apply rounded-md text-xs p-1 bg-danger text-white absolute top-0 right-0;
    }
    .nav-account {
        @apply flex flex-row items-center gap-2.5 p-[5px] px-3 bg-main/10 dark:bg-light/10 rounded-lg;
    }

    /* Sidebar Style */
    .sidebar-item {
        @apply flex flex-row gap-2 items-center py-2 px-3 hover:bg-main hover:text-light dark:hover:bg-main-light;
    }
    .sidebar-item.active {
        @apply bg-main text-light dark:bg-main-light;
    }
    .sidebar-item-expand {
        @apply hover:bg-main hover:text-light dark:hover:bg-main-light;
    }
    .sidebar-item-expand.active {
        @apply bg-main text-light dark:bg-main-light;
    }
    .sidebar-item-expand button {
        @apply flex flex-row gap-2 items-center py-2 px-3 w-full;
    }
    .sidebar-item-expand .sidebar-item {
        @apply hover:bg-main-dark dark:hover:bg-main-lighter;
    }
    .sidebar-item-expand .sidebar-item.active {
        @apply bg-main-dark hover:bg-main-lighter;
    }

    .card {
        @apply bg-neutral-lighter dark:bg-neutral-darker rounded-lg overflow-hidden;
    }
    .card.card-outline {
        @apply bg-transparent border border-neutral-400 dark:border-neutral-600;
    }
    .card .card-header {
        @apply flex flex-col md:flex-row justify-between gap-2 mb-2 p-4 pb-0;
    }

    .navigation {
        @apply flex flex-col gap-2;
    }
    .navigation ul {
        @apply flex flex-row items-center border-b-1;
    }
    .navigation ul li {
        @apply items-center hover:border-b-2 hover:border-b-main hover:text-main font-medium;
    }
    .navigation ul li.active {
        @apply items-center border-b-2 border-b-main text-main;
    }

    .tab {
        @apply flex flex-col gap-2;
    }
    .tab ul {
        @apply flex flex-row items-center border-b-1;
    }
    .tab ul li {
        @apply items-center hover:border-b-2 hover:border-b-main hover:text-main font-medium;
    }
    .tab ul li.active {
        @apply items-center border-b-2 border-b-main text-main;
    }
    .tab .tab-content .tab-pane {
        @apply hidden;
    }
    .tab .tab-content .tab-pane.active {
        @apply block animate-fadeIn;
    }

    .tab-vertical {
        @apply flex flex-row gap-2;
    }
    .tab-vertical ul {
        @apply grid grid-flow-row items-start min-w-[150px] border-r-1;
    }
    .tab-vertical ul li {
        @apply items-center hover:border-r-2 hover:border-r-main hover:text-main font-medium;
    }
    .tab-vertical ul li.active {
        @apply items-center border-r-2 border-r-main text-main;
    }
    .tab-vertical .tab-content .tab-pane {
        @apply hidden;
    }
    .tab-vertical .tab-content .tab-pane.active {
        @apply block animate-fadeIn;
    }

    .placeholder {
        @apply inline-block min-h-[20px] cursor-wait opacity-50 bg-neutral-400 dark:bg-neutral-600 mb-2;
    }
    .placeholder::before {
        box-sizing: border-box;
    }
    .placeholder::after {
        box-sizing: border-box;
    }

    /* Widget Style */
    .widget {
        @apply flex flex-row text-light p-4 gap-2 rounded-lg shadow-md justify-between overflow-hidden;
    }

    /* Custom Inmput Style */
    .input-search {
        @apply block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:leading-6;
    }

    .input {
        @apply rounded-md border
        focus:ring-0
        bg-light dark:bg-dark
        border-gray-300 dark:border-gray-600
        focus-within:border-main dark:focus-within:border-main-light
        py-1.5;
    }

    /* Buttons Style */
    .btn {
        @apply flex flex-row gap-1.5 items-center rounded px-2 py-1.5 hover:brightness-110 disabled:bg-gray-200 disabled:cursor-not-allowed dark:disabled:bg-gray-600 disabled:hover:brightness-100;
    }
    .btn.link {
        @apply underline;
    }
    .btn-outline {
        @apply flex flex-row gap-1.5 items-center rounded px-2 py-1.5 bg-transparent border disabled:cursor-not-allowed disabled:text-gray-400 disabled:border-gray-400 dark:disabled:text-gray-600 dark:disabled:border-gray-600;
    }
    .btn-outline.link {
        @apply underline;
    }
    .btn-group {
        @apply inline-flex;
    }
    .btn-group .btn,
    .btn-group .btn-outline {
        @apply rounded-none first-of-type:rounded-l last-of-type:rounded-r;
    }
    .btn-group .btn-outline {
        @apply border-x-[0.5px] first-of-type:border-l last-of-type:border-r;
    }

    .btn-group-vertical {
        @apply relative inline-flex flex-col;
    }
    .btn-group-vertical .btn,
    .btn-group-vertical .btn-outline {
        @apply rounded-none first-of-type:rounded-t last-of-type:rounded-b;
    }
    .btn-group-vertical .btn-outline {
        @apply border-y-[0.5px] first-of-type:rounded-t first-of-type:border-t last-of-type:rounded-b last-of-type:border-b;
    }

    .btn-check {
        @apply absolute pointer-events-none;
        clip: rect(0, 0, 0, 0);
    }

    /* LABEL */
    .label {
        @apply px-2 py-1 rounded-full text-center text-sm;
    }
    .doted-label {
        @apply flex flex-row items-center gap-1;
    }

    /* SWUTCH BUTTON */
    .switch-button {
        @apply flex flex-row;
    }
    .switch-button .left {
        @apply bg-transparent border-1 border-neutral-400 text-neutral-400 dark:border-neutral-600 dark:text-neutral-600 rounded-none rounded-l-md w-10 place-content-center py-1.5;
    }
    .switch-button .right {
        @apply bg-transparent border-1 border-l-0 border-neutral-400 text-neutral-400 dark:border-neutral-600 dark:text-neutral-600 rounded-none rounded-r-md w-10 place-content-center py-1.5;
    }
    .switch-button .active {
        @apply !bg-main !border-main !text-light
        dark:!bg-main-light dark:!border-main-light dark:!text-light;
    }
}
